/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #d7d5d6;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #333;
}

.container {
  background: #ece8e8;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: 15px auto;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #0077ff;
}

/* Input and Button Styles */
input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005bb5;
}

/* RequestAirdrop Styles */
.request-airdrop {
  border-top: 5px solid #0077ff;
}

.request-airdrop input {
  border-color: #0077ff;
}

/* SendTokens Styles */
.send-tokens {
  border-top: 5px solid #ffa500;
}

.send-tokens input {
  border-color: #ffa500;
}

/* ShowSolBalance Styles */
.show-balance {
  border-top: 5px solid #28a745;
  text-align: center;
}

.show-balance p {
  font-weight: bold;
  margin-bottom: 10px;
}

/* SignMessage Styles */
.sign-message {
  border-top: 5px solid #ff4b5c;
}

.sign-message input {
  border-color: #ff4b5c;
}
